﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script type= "text/javascript">
        
        function login() {
            var username = document.getElementById("tendangnhap").value;
            var password = document.getElementById("matkhau").value;           
            $.ajax({
                url: "http://localhost:5437/api/Account/Login",
                data: {
                    username: username,
                    password: password
                },
                datatype: "JSON",
                ContentType: "application/json; charset=utf-8",
                type: "GET",
                success: function (data) {
                    alert("welcome " + data.username);

                }



            });
        }
        function register() {
            var username = document.getElementById("ptendangnhap").value;
            var password = document.getElementById("pmatkhau").value;
            var account = {
                username: username,
                password: password,
                state: true
            }
            $.ajax({
                url: "http://localhost:5437/api/Account",                
                datatype: "JSON",
                ContentType: "application/json; charset=utf-8",
                type: "POST",
                data: JSON.stringify(account),
                success: function (data) {
                    alert(data.username);

                }



            });
        }

    </script>
</head>
<body>
   <div>
       <input type="button" id="login" onclick="login()" />
       <label>Ten Dang nhap</label><input type="text" id="tendangnhap" />
       <label>Mat khau</label><input type="password" id="matkhau" />
       
    </div>
    <div>
        <ul>
            <li><label>Ten Dang nhap</label><input type="text" id="ptendangnhap" /></li>
            <li><label>Ten Dang nhap</label><input type="text" id="pmatkhau" /></li>
            <li><label>Ngay Sinh    :</label><input type="" /></li>
            <input type="button" id="register" value="Register" onclick="register()" />
        </ul>
    </div>
    <div> 


    </div>
</body>
</html>